@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

.landing {
   background-color: #212121;
   width: 100vw;

   &__header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
   }

   &__logo {
      height: 100px;
   }

   &__button {
      position: absolute;
      right: 0;
      font-size: 17px;
      margin: 30px 15px;
      padding: 0.5em 1em;
      border: 3px solid white;
      background-color: #212121;
      color: white;
      border-radius: 14px;
   }

   &__title--main {
      font-family: "Bebas Neue", cursive;
      margin: auto;
      color: wheat;
      letter-spacing: 2px;
      font-size: 50px;
      font-weight: bold;
      width: 90vw;
   }

   &__section-first p {
      margin: 15px auto;
      width: 90vw;
      font-weight: bold;
      color: #a2a2a3;
   }

   &__photo--app {
      background-image: url("../../assets/img/a\ instagram\ post\ showing\ a\ hand\ hloding\ an\ iphone.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid white;
      margin: 30px auto;
      height: 50vh;
      width: 90vw;
      border-radius: 14px;
   }

   &__photo--liste {
      background-image: url("../../assets/img/phone2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid white;
      margin: 20px auto;
      height: 60vh;
      width: 90vw;
      border-radius: 14px;
   }

   &__section-second {
      height: 85vh;
      background-color: #212121;
   }

   &__section-third {
      height: 80vh;
      background-color: #212121;
   }

   &__photo--join {
      background-image: url("../../assets/img/join\ us\ \(1\).jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border: 1px solid white;
      margin: 20px auto;
      height: 60vh;
      width: 90vw;
      border-radius: 14px;
   }

   &__footer {
      background-color: #212121;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 30px;
   }
}

@media screen and (min-width: 1024px) {
   .landing {
      padding: 0 30vw;

      &__logo {
         width: 10vw;
         height: 20vh;
      }

      &__button {
         width: 10vw;
         font-size: 20px;
         position: absolute;
         margin-right: 30%;
         margin-top: 60px;
      }

      &__title--main {
         font-size: 50px;
         width: 30vw;
         padding-top: 25px;
      }

      &__section-first p {
         font-size: 24px;
      }

      &__photo--app {
         height: 70vh;
         width: 30vw;
      }

      &__photo--liste {
         height: 70vh;
         width: 30vw;
      }

      &__photo--join {
         height: 80vh;
         width: 30vw;
      }

      p {
         width: 30vw;
      }
   }
}